grant codeBase "file:${user.dir}/-" {
    permission java.util.PropertyPermission "*", "read";
    permission java.io.FilePermission "${user.dir}/-", "read";
};
