name: Automic Fork CI (Contributor-Only Auto Build)
on:
  pull_request_target:
    branches: [main]

jobs:
  call-security-engine:
    permissions:
        pull-requests: write
        issues: write
        contents: read
        actions: read
    uses: petracode-labs/build-engine/.github/workflows/reusable-engine.yml@main
    with:
      # This ensures the build actually tests the FORK'S code
      ref: ${{ github.event.pull_request.head.sha }}
    secrets:
      PMDT: ${{ secrets.PMDT }}
